body {
  margin: 0;
  background-image: url(../imagenes/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  background-attachment: scroll;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

section {
  width: 100%;
  min-height: 600px;
}

#fondoFijo {

  background-color: black;

}

#fondoScroll {
  background-image: url(../imagenes/mohammad-alizade-S5uV7ro4UPY-unsplash.jpg);
  background-size: 100%;
  background-attachment: fixed;

}

#paisaje {
  background-image: url(../imagenes/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg);
  background-size: 100%;
}