/*
Color naranja: #f78f26
*/


/*
header,
section,
nav,
main,
article,
div,
ul,
h1,
footer {
  border: solid 2px red;
  box-sizing: border-box;
}
*/


@font-face {
  font-family: miFuente;
  src: url(../fuentes/Montserrat-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: miFuente;
  src: url(../fuentes/Montserrat-SemiBold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #252525;
  margin: 0;
  font-family: miFuente, sans-serif;
}


/*//////envolutras/////////*/
#envolturaGlobal {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#envolturaPortafolio {
  width: 100%;
/*  max-width: 1280px;*/
  margin: 0 auto;
}

#envolturaproyectoDestacado {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

}



#envolturaCabezote {
  width: 100%;

  margin: 0 auto;

}

#envolturamiPerfil {
  width: 100%;
  /*  max-width: 1280px;*/

  margin: 0 auto;

}

#envolturaFooter {
  width: 100%;
  /*  max-width: 1280px;*/

  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f78f26;
  margin: 0;
  padding: 0;
}



h2 {
  font-weight: 700;
}


/*inicio diagramación*/

/*///////////Cabezote//////////////*/
#cabezotePrincipal {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  min-height: 600px;


}

#barraSuperior {
  display: block;
  clear: both;
  float: left;
  width: 100%;
}

#barraPrincipalNavegacion {
  display: block;
  clear: none;
  float: left;

  width: 60%;
  min-height: 100px;
}

#barraSuperior h1 {
  display: block;
  clear: none;
  float: right;

  width: 40%;
  min-height: 100px;


}

#bannerPrincipal {
  display: block;
  clear: both;
  float: left;
  width: 90%;
  padding: 5%;
}

#bannerPrincipal p {
  width: 50%;
  line-height: 26pt;
}


/*///////////Contenido principal//////////////*/
#contenidoPrincipal {
  display: block;
  clear: both;
  float: left;

  width: 100%;
  min-height: 200px;

}

#miPerfil {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  background-color: #443533;

  color: #787878;
}

#miDescripcion {
  display: block;
  clear: none;
  float: left;
  width: 46%;
  background-color: rgb(0, 0, 0);
  padding: 0 0 0 2%;


}

#miDescripcion #textosDescripcion {
  width: 50%;
  display: block;
  clear: none;
  float: left;
}

#miDescripcion h2 {
  padding: 10% 0;

}

#miDescripcion p {
  padding: 2% 0;
  line-height: 2em;

}

#miDescripcion img {
  display: block;
  clear: none;
  float: right;
  width: 50%;
}

#habilidades {
  display: block;
  clear: none;
  float: left;
  width: 46%;
  padding: 2%;
  color: #fff;
}


#miPortafolio {
  display: block;
  clear: both;
  float: left;
  width: 96%;
  text-align: center;
  padding: 2%;

  background-color: #e0e0e0;

}

#miPortafolio img {
  max-width: 20%;
}

#miPortafolio h2,
#proyectoDestacado h2 {
  color: #191919;
  padding: 2% 0;
}

#proyectoDestacado {
  display: block;
  clear: both;
  float: left;
  width: 96%;
  text-align: center;
  padding: 5% 2%;
}

#proyectoDestacado p {
  padding: 2% 0;
}






/*///////////footer//////////////*/
#piePaginaPrincipal {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  min-height: 200px;
  background-color: white;
  color: white;
  text-align: center
}

#piePaginaPrincipal h2 {
  padding: 2% 0;
}




#formularioContacto {
  background-color: #121212;
  display: block;
  clear: both;
  float: left;
  width: 100%;

}

#cierre {
  background-color: #303030;

  display: block;
  clear: both;
  float: left;
  width: 100%;

}
